*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
    background-color: black;
}
.container{
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.container h1{
	margin: 30px;
}
.counter{
	width: 30%;
	display: flex;
	justify-content: center;
}
#increment-btn, #decrement-btn, #reset{
	height: 50px;
	width: 120px;
	padding: 0 40px;
	border-radius: 10px;
	font-size: 40px;
	background-color: #fc4b00;
	color: white;
	margin: 20px;
}
#reset{
	font-size: 10px;
}
h1{
    color: white;
}
#counter-value{
	height: 50px;
	min-width: 120px;
	border-radius: 10px;
	background-color: white;
	margin-top: 20px;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
